/* common  */
body { font-family:  "Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3",sans-serif; }

a:not(.btn):hover { color: #e50055;}
img { width: 100%; height: auto;}

.sp { display: block;}
.pc { display: none;}

.sm { display: none!important;}
.md { display: none!important;}
.lg { display: none!important;}

.shadow { box-shadow: 0px 1px 3px #ccc;}
.flex { display: flex; justify-content:space-between; flex-wrap: wrap;}
.flex.type02 {  justify-content:flex-start;}

/*----------------------------------------------------------*/
/* SP CSS */
/*----------------------------------------------------------*/

/* color  */
.pink { color: #e50055;}
.green { color: #108a0a;}
.red { color: #ef0707;}
.blue { color: #4972c5;}
.mosgreen { color: #8ab496;}
.orange { color: #fe6906;}
.yellow { color: #848e42;}
.purple { color: #631a85;}
.h-blue { color: #0a9092;}

/* bg_color  */
.bg_pink {background: #f0e2ef!important;}
.bg_pink {background: #f0e2ef!important;}
.bg_blue {background: #d7e1ec!important;}
.bg_orange {background: #e7dcc8!important;}
.bg_yellow {background: #e0e4c3!important;}
.bg_green {background: #cddece!important;}
.bg_purple {background: #e3dce4!important;}
.bg_red {background: #f3d5d5!important;}
.bg_h-blue { background: #d0f0ee!important;}

/*icon type01*/
.icon { display: block; background: #0a9092; text-align: center; color: #fff;font-size: 0.5rem; margin: 0 auto;}
.icon.type01 { background: #e50055;}
.icon.type02 { background: #108a0a;}
.icon.type03 { background: #0a9092;}

/* text  */
.under-line { text-decoration: underline;}
.center { text-align: center;}
a { color: inherit;}
a:hover { opacity: 0.8;}
.bold { font-weight: bold;}
.pointer { cursor: pointer;}

body { background: #f9f9f9; color: #111; font-size: 14px; font-weight: 200; min-height:100vh;}

/* header  */
header { background: #fff;  height:auto; height: 100px;}
header #logo_sec { width: 140px; position: absolute; left: 10px; top: 10px; }
header h1 {  color: #e50055; font-weight:bold; margin-top: 1px; text-align: center;}
header i { margin-right: 6px; width: 20px; text-align: center;}

 /* header btn */
 #spMainBtn { position:fixed; z-index: 1; font-size: 2.2rem;right: calc(15px + 2.6rem / 2); top: 20px; color: #e50055; cursor: pointer;}

 @media only screen and (max-width:639px){
  header .nav {  width: 70%; height: 100vh; background: #fff; position: fixed; right: -70%; z-index: 20; overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    transition : right 0.4s;
    -webkit-transition : right 0.4s; }
    header .nav ul.mainBtn > li {  border-bottom: 1px solid #eee;  padding: 5px 0; margin: 5px 0;}
    header .nav ul.mainBtn > li:last-child { border-bottom: none;}
    header .nav ul.mainBtn > li a { display: block; padding: 8px 0;}
 }

 header .nav { padding: 20px 35px;}
 header .nav ul.mainBtn > li > span { display: block; border-bottom: 1px solid #999; margin: 15px 0; width: 100%; height: 2px;}
 header .nav ul.mainBtn > li > span ~ li  { font-size: 0.9rem;}
 header .nav ul.mainBtn > li { text-align:left; padding: 10px 0; font-size: 0.8rem; }
 header .nav ul.mainBtn > li a { }
 header .nav ul.mainBtn > li > div { cursor: pointer; }

 header .nav ul.mainBtn > li.sub_nav ul { padding-left: 1.7em; margin-top: 10px; }
 header .nav ul.mainBtn > li.sub_nav ul li { padding: 8px 0;}

 header .nav ul.sns { justify-content: start;  margin-top: 0px; padding-top: 10px;}
 header .nav ul.sns li { width: 16%; margin: 5px;}
 header .nav > ul:last-child { padding-bottom: 100px;}
 
 header .nav.open { display: block; right: 0; }
 header .close {  color: #e50055; font-size: 2.0rem; position: absolute; right: calc(10px + 2.0rem /2); top: 10px; cursor: pointer;}

/*container*/
#container { padding-top: 0px; padding-bottom: 50px;  min-height:80vh; box-sizing: border-box; }

/* footer  */
footer { text-align: center; bottom:0; background: #111; width: 100%; padding: 10px 20px; color: #fff;}
footer dl { font-size: 11px; margin-bottom: 10px;}
footer dl dt { font-weight: bold; margin-bottom: 4px; font-size: 12px;}
footer dl dd { display: block;}
footer #copyright { font-size: 10px;}

/* overlay  */
html.overlay{
	overflow:hidden;
	height:100%;
}
#overlay{
	position:fixed;
	width:100%;
	height:100vh;
	padding:50px 0;
	top:0;
	left:0;
	z-index:10;
	background-color:rgba(0,0,0,0.5);
	display:none;
}

/*----------------------------------------------------------*/
/* タブレット用のCSS */
/*----------------------------------------------------------*/
@media only screen and (min-width:640px){

  /* common  */
  .sp { display: none!important;}
  .pc { display: block!important;}

  /* header  */
  header { width: 23%; height: 100vh; padding: 5px; box-sizing: border-box; position:fixed; left: 0; overflow-y:auto;}
  header #logo_sec { width:auto; position:relative; left:auto; top:auto;}
  header #logo { width: 70%; margin: 0 auto;}
  header h1 { font-size: 1.1em; }

  header .nav ul.sns { justify-content: center;}

  /* header btn */
  header .nav { display: block; text-align: center; margin: 0 auto; margin-top: 30px; padding: 0; }
  header .nav ul.mainBtn { display: inline-block; width: 70%; }
  header .nav ul.mainBtn li { font-size: 90%;}
  header .nav ul.mainBtn span ~ li  { font-size: 85%;}

  #container { margin-left: 23%; padding: 10px 10px 140px 10px; max-width: 1480px;  min-height:100vh;  min-height: 100%;}
 
  /* footer  */
  footer { position: fixed; z-index: 10;}
  footer dl dd { display: inline-block; margin-left: 0.5em;}

}


/*----------------------------------------------------------*/
/* PC用のCSS */
/*----------------------------------------------------------*/
@media only screen and (min-width:1024px){

  /* common  */
  .lg { display:table-cell!important;}

  /* header  */
  header { width: 280px; padding: 20px;}
  #container { margin-left: 280px; padding: 30px 50px 170px 50px; }
  header .nav ul.mainBtn li { font-size: 100%;}
}


@media only screen and (min-width:1280px){

  

}